* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    color: white;
}
body{
    background-color: black;
    
}

.headLogo img {
    width: 100%;
    height: 70px;
}

.navbarData {
    font-size: 30px;
    /* font-family: "Sevillana", cursive; */
    
}

.sideBar {
    width: 256px;
    height: 89vh;
    /* font-family: "Kalnia Glaze", serif; */


}
.DecorationFor{
    /* background-color: rgb(38, 13, 44); */
    background-color: black;
    /* font-size: 20px; */
}
.addimg img{
    width: 100%;
    height: 90vh;
}
.rights{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    background-color: #3e527d;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    background-color: #3e527d;
}
.student{
    font-family: "Playfair Display", serif;
    

}
.BackToHome{
    text-decoration: none;
    
}
.searchStudent{
    background: #00316b;
    background-repeat: no-repeat;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    font-family: "Edu AU VIC WA NT Hand", cursive;

}
.searchStudent img{
    width: 600px;
    height: 370px;
}
.searchmain{
    width: 100%;
    height: 100vh;
    background: #00316b;

    background-repeat: no-repeat;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}
.searchmain h2{
    text-shadow: 10px 10px 7px  rgb(231, 241, 38);


}
.searchData{
    width: 600px;
    height: 300px;
    background-color: rgb(96, 125, 221);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(55%);
    left: calc(27%);
    
}
.searchData a{
text-decoration: none;
}
.searchData a:hover{
   color: black ;
}
.typingVdo{
    width: 100%;
    height: 87vh;
    border: 1px solid black;
}
.sidebarBack{
    width: 253px;
    height: 89vh;
}
.rightTyping{
    width: 83.3%;
}
.hoverSidebar:hover{
    color: red;
}
